<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
</head>
<body>
    <nav>
    
     
        <a href="{% url 'home' %}">Home</a>|

        {% if request.user.is_authenticated %}
      
         
            <a href="{% url 'createproduct' %}">Add Medicine</a>|
            <a href="{% url 'retrieveproduct' %}">My Medicines</a>|
            <a href="{% url 'medicine_listing' %}">Medicine Listing</a>|
            <a href="{% url 'searchmedicine' %}">Search Medicine</a>|
            <a href="{% url 'logout' %}">Logout</a>

        {% else %}
            
            <li><a href="{% url 'signup' %}">Sign Up</a>
            <li><a href="{% url 'login' %}">Login</a>
        {% endif %}
    
</nav>
    
</body>
</html>

