{% extends 'layout/app-layout.html' %}
{% block content %}

<h2>Pagination</h2>

<ul>
{% for product in page_obj %}
    <li>{{ product.name }}</li>
{% endfor %}
</ul>

<nav>
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.get_elided_page_range %}
        {% if num == page_obj.number %}
            <strong>{{ num }}</strong>
        {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
</nav>

{% endblock %}